<!DOCTYPE html>
<html>
  <head>
    <title>Rachel Krupnick</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div>
        <%= link_to "Rachel Krupnick", '#', id: "logo" %>
        <nav>
          <ul>
            <li><%= link_to "Home", "#" %></li>
            <li><%= link_to "Contact", "#" %></li>
            <li><%= link_to "Blog", "#" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
